<h1>Page projets</h1>
{{#each listOfProjects}}
<div class="container"></div>
<div class="name">
  Project name: {{this.name}}
</div>
<a href="/projects/edit/{{this.id}}">Modifier le projet</a>
</div>
{{/each}}